In [1]:
import pandas as pd

In [2]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

In [3]:
df_train.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188533 entries, 0 to 188532
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188533 non-null  int64
 1   brand         188533 non-null  object
 2   model         188533 non-null  object
 3   model_year    188533 non-null  int64
 4   milage        188533 non-null  int64
 5   fuel_type     183450 non-null  object
 6   engine        188533 non-null  object
 7   transmission  188533 non-null  object
 8   ext_col       188533 non-null  object
 9   int_col       188533 non-null  object
 10  accident      186081 non-null  object
 11  clean_title   167114 non-null  object
 12  price         188533 non-null  int64
dtypes: int64(4), object(9)
memory usage: 18.7+ MB

In [5]:
df_train.isna().sum()

id                  0
brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
price               0
dtype: int64

In [6]:
df_train['model_year'].fillna(df_train['model_year'].median(),inplace=True)
df_train['milage'].fillna(df_train['milage'].median(),inplace=True)
df_train['engine'].dropna(inplace=True)

In [7]:
df_train['ext_col'].dropna(inplace=True)
df_train['int_col'].dropna(inplace=True)

In [8]:
df_train['transmission'].dropna(inplace=True)
df_train['price'].fillna(df_train['price'].median(),inplace=True)
df_train.isna().sum()

id                  0
brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
price               0
dtype: int64

In [9]:
from sklearn.impute import SimpleImputer
impute=SimpleImputer(strategy='most_frequent')
df_train['fuel_type'] = impute.fit_transform(df_train[['fuel_type']]).ravel() # Use ravel() to flatten the array
df_train['accident'] = impute.fit_transform(df_train[['accident']]).ravel() # Use ravel() to flatten the array
df_train['clean_title'] = impute.fit_transform(df_train[['clean_title']]).ravel() # Use ravel() to flatten the array

In [10]:
df_train.isna().sum()

id              0
brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64

In [11]:
import pandas as pd
object_cols = df_train.select_dtypes(include=['object']).columns

for col in object_cols:
  df_train = pd.get_dummies(df_train, columns=[col], prefix=[col], dummy_na=False)

print(df_train.head())

   id  model_year  milage  price  brand_Acura  brand_Alfa  brand_Aston  \
0   0        2007  213000   4200        False       False        False
1   1        2002  143250   4999        False       False        False
2   2        2002  136731  13900        False       False        False
3   3        2017   19500  45000        False       False        False
4   4        2021    7388  97500        False       False        False

   brand_Audi  brand_BMW  brand_Bentley  ...  int_col_WHITE  int_col_Walnut  \
0       False      False          False  ...          False           False
1       False      False          False  ...          False           False
2       False      False          False  ...          False           False
3       False      False          False  ...          False           False
4       False      False          False  ...          False           False

   int_col_Whisper Beige  int_col_White  int_col_White / Brown  \
0                  False          False                  False
1                  False          False                  False
2                  False          False                  False
3                  False          False                  False
4                  False          False                  False

   int_col_Yellow  int_col_–  accident_At least 1 accident or damage reported  \
0           False      False                                            False
1           False      False                                             True
2           False      False                                            False
3           False      False                                            False
4           False      False                                            False

   accident_None reported  clean_title_Yes
0                    True             True
1                   False             True
2                    True             True
3                    True             True
4                    True             True

[5 rows x 3612 columns]

In [12]:
from sklearn.preprocessing import LabelEncoder

df_train = pd.read_csv('train.csv')  # Assuming you have the 'train.csv' file

# Identify columns with object (string) data types
object_cols = df_train.select_dtypes(include=['object']).columns

# Create a LabelEncoder object
le = LabelEncoder()

# Iterate through object columns and apply label encoding
for col in object_cols:
  df_train[col] = le.fit_transform(df_train[col].astype(str))

print(df_train.head())

   id  brand  model  model_year  milage  fuel_type  engine  transmission  \
0   0     31    495        2007  213000          2     116            38
1   1     28    930        2002  143250          2     366            38
2   2      9   1575        2002  136731          1     640            38
3   3     16    758        2017   19500          2     863            49
4   4     36   1077        2021    7388          2     259            23

   ext_col  int_col  accident  clean_title  price
0      312       71         1            0   4200
1      263       10         0            0   4999
2       38       71         1            0  13900
3       29       14         1            0  45000
4       29       10         1            0  97500

In [13]:
from sklearn.model_selection import train_test_split
# Define features and target
X = df_train.drop(['price', 'id'], axis=1)  # Features (exclude target and id)
y = df_train['price']  # Target variable

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
# from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

In [15]:
model_1=GradientBoostingRegressor(n_estimators=100,random_state=0)

In [17]:
# mae_1=mean_squared_error(y_val,predict_valid)
#

NameError: name 'predict_valid' is not defined

In [18]:
model_1.fit(X_train,y_train)
predict_valid=model_1.predict(X_val)
mae_1 = mean_squared_error(y_val, predict_valid)
print(mae_1)

4649422027.381141

In [19]:
# prompt: create a submission file for test data

import pandas as pd
# Assuming df_test is your test data DataFrame
# and you have already preprocessed it in a similar way to df_train

# Identify columns with object (string) data types in df_test
object_cols_test = df_test.select_dtypes(include=['object']).columns

# Create a LabelEncoder object (you can reuse the same one from before)
# le = LabelEncoder()

# Iterate through object columns and apply label encoding
for col in object_cols_test:
  df_test[col] = le.fit_transform(df_test[col].astype(str))

# Make predictions on the test data
X_test = df_test.drop(['id'], axis=1)  # Features (exclude id)
predictions_test = model_1.predict(X_test)

# Create a submission DataFrame
submission_df = pd.DataFrame({'id': df_test['id'], 'price': predictions_test})

# Save the submission file to a CSV
submission_df.to_csv('submission.csv', index=False)

print("Submission file created successfully.")

Submission file created successfully.